@tailwind base;
@tailwind components;
@tailwind utilities;


.border-gradient {
    border-radius: 5px !important ;
    background  : linear-gradient(#030014, #030014) padding-box, linear-gradient(to right, #6B46C1, #38B2AC)  border-box;
    border-image-slice: 1;
    border: 2px solid  transparent;

    
  }

.border-gradient:hover{
    color: linear-gradient(to right, #6B46C1, #38B2AC) ;
}  